.wrapper, .search-wrapper, #aboutContent p, #contactContent p {
  margin-left: auto;
  margin-right: auto; }

html body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.wrapper {
  width: 85%; }

header {
  background: url("../assets/marvelHeroes.png") no-repeat center;
  background-size: cover;
  border: 2px solid #222;
  height: 350px; }

.logo {
  display: inline-block; }
  .logo img {
    width: 45px;
    display: block;
    float: left; }
  .logo h1 {
    color: #EEE;
    display: block;
    float: left;
    margin-top: 0; }

nav {
  margin-top: 0;
  float: right;
  z-index: 999; }

nav ul {
  text-align: right; }
  nav ul li {
    display: inline-block;
    margin: 0 auto;
    padding-right: 10px; }
    nav ul li a {
      text-decoration: none;
      color: #EEE;
      padding: 0; }

nav ul li a:hover {
  border: 1px solid #EEE;
  color: #FFDF00; }

.active {
  color: #FFDF00; }

/*MEDIA QUERY*/
@media only screen and (max-width: 500px) {
  /* Important styles */
  #toggle {
    position: absolute;
    display: block;
    top: 0px;
    right: 20px;
    z-index: 1000;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px; }
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px; }
  #toggle span:after {
    top: 9px; }
  #toggle span {
    position: relative;
    display: block; }
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 2px; }
  /* on activation */
  #toggle.on span {
    background-color: transparent; }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px); }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px); }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible; }
  /* menu appearance*/
  #menu {
    position: absolute;
    display: block;
    color: #222;
    width: 100%;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background: black;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s; }
  nav ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0; }
  nav ul li {
    float: right;
    width: 100%;
    padding: 35px 30px;
    border-bottom: 2px solid white; }
  nav ul li:first-of-type {
    margin-top: 30px; }
  nav ul li:last-of-type {
    border-bottom: none; }
  nav li a {
    font-size: 25px; }
  li a {
    padding: 5px;
    color: #EEE;
    text-decoration: none;
    transition: all .2s; }
  li a:hover,
  li a:focus {
    background: #1ABC9C;
    color: #fff; } }

/*MEDIA QUERY*/
/*@media only screen and (max-width : 430px) {
  nav {
    margin-top: 0;
    float: right;
  }

  nav ul {
    text-align: right;

    li {
      display: block;
      margin: 0 auto;
    }
  }

}*/
footer {
  background-color: #222;
  color: #EEE;
  text-align: center;
  height: 120px;
  margin-top: 50px; }
  footer p {
    padding: 50px 0; }

#homeContent,
#contactContent,
#aboutContent {
  min-height: calc(100vh - 70px);
  text-align: center; }

#contactContent,
#aboutContent {
  padding: 20px; }

#homeContent h1,
#contactContent h1,
#aboutContent h1 {
  background-color: #222;
  color: #EEE;
  text-align: left;
  padding-left: 10px;
  max-width: 50%; }

.js-search-field, .js-search-button,
.search-wrapper, .search-wrapper p {
  position: relative;
  padding: 10px; }

.search-wrapper {
  text-align: center;
  width: 60%;
  z-index: 998;
  margin-top: 50px; }
  .search-wrapper p {
    background-color: #222;
    color: #EEE;
    text-align: left;
    max-width: 400px;
    margin: 0;
    padding: 2px 10px; }

.js-search-field {
  width: 100%;
  border: 1px solid #ccc;
  outline: 0; }
  .js-search-field:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 1px solid #bebede; }

.js-search-button {
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  height: 35px;
  border: 1px solid transparent;
  border-left: 1px solid #bdbdbd;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  right: -12px;
  padding: 0 20px;
  transition-duration: 0.4s;
  cursor: pointer; }
  .js-search-button:hover {
    background-color: #0d3e6a;
    /* DarkBlue */
    color: white; }

#homeContent ul {
  margin: 0 auto 130px auto;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 100px 20px; }
  #homeContent ul li {
    width: 100%;
    height: 100%; }
    #homeContent ul li h3 {
      background-color: #222;
      color: #FFDF00;
      padding: 20px 10px;
      margin-top: -6px;
      display: block;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

li img {
  width: 100%;
  height: 100%; }

#homeContent a {
  background-color: #FFDF00;
  color: #222;
  text-decoration: none;
  padding: 20px 10px;
  margin-top: 50px;
  margin-bottom: 20px; }

/*
@media only screen and (min-width : 720px) and (max-width : 1050px){
  body {
    background-color: blue;
  }
}

@media only screen and (min-width : 1050px){
  body {
    background-color: green;
  }
}

*/
#aboutContent p {
  width: 65%; }

#contactContent p {
  width: 65%; }
  #contactContent p span {
    color: #FFDF00; }
