.wrapper, #searchSection, #aboutContent p, #contactContent p {
  margin-left: auto;
  margin-right: auto; }

html body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.wrapper {
  width: 85%; }

header {
  background: url("../assets/marvelHeroes.png") no-repeat center;
  background-size: cover;
  border: 2px solid #222;
  height: 350px; }

.logo {
  display: inline-block; }
  .logo img {
    width: 45px;
    display: block;
    float: left; }
  .logo h1 {
    color: #EEE;
    display: block;
    float: left;
    margin-top: 0; }

nav {
  margin-top: 0;
  float: right; }

nav ul {
  text-align: right; }
  nav ul li {
    display: inline-block;
    margin: 0 auto;
    padding-right: 10px; }
    nav ul li a {
      text-decoration: none;
      color: #EEE;
      padding: 0; }

nav ul li a:hover {
  border: 1px solid #EEE;
  color: #FFDF00; }

.active {
  color: #FFDF00; }

/*MEDIA QUERY*/
@media only screen and (max-width: 430px) {
  nav {
    margin-top: 0;
    float: right; }
  nav ul {
    text-align: right; }
    nav ul li {
      display: block;
      margin: 0 auto; } }

footer {
  background-color: #222;
  color: #EEE;
  text-align: center;
  height: 120px;
  margin-top: 50px; }
  footer p {
    padding: 50px 0; }

#searchSection {
  text-align: center;
  width: 80%;
  height: 30px;
  margin-top: 50px; }
  #searchSection p {
    background-color: #222;
    color: #EEE;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    padding: 0 0 0 0; }

.js-search-field,
.js-search-button,
.search-wrapper {
  position: relative;
  padding: 10px; }

.search-wrapper {
  width: 500px;
  margin: auto;
  margin-top: 50px; }

.js-search-field {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px; }
  .js-search-field .js-search-field:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede; }

.js-search-button {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer; }
  .js-search-button:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index: 1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer; }

#homeContent {
  min-height: calc(100vh - 70px);
  text-align: center; }

#homeContent h1 {
  background-color: #222;
  color: #EEE;
  text-align: left;
  padding-left: 10px;
  max-width: 50%; }

#homeContent ul {
  margin: 0 auto 100px auto;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 100px 20px; }
  #homeContent ul li {
    width: 100%;
    height: 100%; }
    #homeContent ul li h3 {
      background-color: #222;
      color: #FFDF00;
      padding: 20px 10px;
      margin-top: -6px;
      display: block;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

li img {
  width: 100%;
  height: 100%; }

#homeContent a {
  background-color: #FFDF00;
  color: #222;
  text-decoration: none;
  padding: 20px 10px;
  margin-top: 50px;
  margin-bottom: 20px; }

#aboutContent {
  min-height: calc(50vh - 70px);
  padding: 20px;
  text-align: center; }

#aboutContent h1 {
  background-color: #222;
  color: #EEE;
  text-align: left;
  padding-left: 10px;
  max-width: 50%; }

#aboutContent p {
  width: 65%; }

#contactContent {
  min-height: calc(50vh - 70px);
  padding: 20px;
  text-align: center; }

#contactContent h1 {
  background-color: #222;
  color: #EEE;
  text-align: left;
  padding-left: 10px;
  max-width: 50%; }

#contactContent p {
  width: 65%; }
  #contactContent p span {
    color: #FFDF00; }
