.js-search-field, .js-search-button,
.search-wrapper, .search-wrapper p {
  position: relative;
  padding: $small-amount;
}

.search-wrapper {
  width: 100%;
  text-align: center;
  z-index: 997;
  margin-top: 100px;
  @extend %auto-center;

  p {
    background-color: $primary-color;
    color: $secondary-color;
    max-width: 400px;
    margin: 0;
    padding: 2px 10px;
  }
}

.js-search-field {
  width: 93%;
  height: 30px;
	border: 1px solid #ccc;
  outline: 0;

  &:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 1px solid #bebede;
  }
}

.js-search-button {
  background-image: url('../assets/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  height: 52px;
  border:1px solid transparent;
  border-left: 1px solid #bdbdbd;
	background-color: transparent;
  position: absolute;
  bottom: 10px;
  right: 12px;
  padding: 0 25px;
  z-index: 998;
  transition-duration: 0.4s;
  cursor: pointer;


  &:hover {
    background-color: #0d3e6a; /* DarkBlue */
    color: white;
  }
}

#homeContent h1 {
  text-align: center;
  max-width: 100%;
}

#homeContent ul .section-children li.layout {
    display : inline-block;
    height: 100%;
    width: 100%;
}

#homeContent ul {
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  @extend %auto-center;

  li {
    clear: both;
    float: left;
    height: 225px;
    padding-bottom: 15px;

    h3 {
      background-color: $primary-color;
      color: $accent-color;
      margin-top: 0;
      padding: $med-amount $small-amount;
      overflow: hidden;

      height: 71%;
    }
  }
}


li img {
  display: block;
  float: left;
}

#homeContent a {
  font-size: 20px;
  min-width: 400px;
  padding: 10px;
  background-color: $accent-color;
  color: $primary-color;
  text-decoration: none;
  border: 2px solid $accent-color;
  border-radius: 3px;
}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .search-wrapper {
    width: 100%;
  }
  .search-wrapper p {
    text-align: left;
    max-width: 100%;
    margin: 0 0 0 1.5%;
    padding: 2px 8px;
  }
  #textarea {
    width: 93%;
  }
  .js-search-button {
    right: 10px;
  }

  #homeContent h1 {
    //width: 100%;
    font-size: 20px;
  }

  #homeContent ul {
    margin: 0 auto 0 auto;
    padding: 0;


    li {
      float: left;
      height: 225px;

      h3 {
        display: block;
        height: 82%;
        background-color: $primary-color;
        color: $accent-color;
        padding: $med-amount $small-amount;
        text-align: center;
        white-space: pre-line;
      }
    }
  }


  li img {
    display: block;
    float: left;
    height: 100%;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 600px) {
  .js-search-field, .js-search-button,
  .search-wrapper, .search-wrapper p {
    position: relative;
    padding: $small-amount;
  }

  .search-wrapper {
    margin-top: $large-amount;
    max-width: 65%;


    p {
      text-align: left;
      max-width: 50%;
      margin-left: 2%;
      padding: 0;
    }
  }

  .js-search-field {
    width: 100%;
    height: auto;
  }

  .js-search-button {
    position: absolute;
    background-size: 20px;
    height: 35px;
    bottom: 10px;
    right: 3%;
    padding: 0 20px;
  }

  #homeContent h1 {
    text-align: left;
    max-width: 60%;
  }

  #homeContent ul .section-children li.layout {
      display : block;
      height: 100%;
      width: 100%;
  }

  #homeContent ul {
    margin: 0 auto 130px auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px 20px;

    li {
      float: none;
      width: 100%;
      height: 100%;

      h3 {
        float: none;
        height: auto;
        padding: $med-amount $small-amount;
        margin-top: -6px;
        display: block;
        text-align: center;
        @include text-truncate;
      }
    }
  }

  li img {
    width: 100%;
    height: 100%;
  }

  #homeContent a {
    padding: $med-amount $small-amount;
    margin-top: $large-amount;
    margin-bottom: $med-amount;
  }

}
